apturl
beautifulsoup4
blinker
certifi
chardet
click
colorama
coloredlogs
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
html5lib
httplib2
humanfriendly
i3-swap-focus
i3ipc
idna
img2pdf
importlib-metadata
jeepney
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lxml
macaroonbakery
more-itertools
oauthlib
ocrmypdf
olefile
packaging
pdfminer.six
pikepdf
Pillow
pluggy
powerline-status
protobuf
psutil
pycairo
pycryptodomex
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
python-xapp
python-xlib
pytz
pyxattr
PyYAML
reportlab
requests
rofication
SecretStorage
setproctitle
six
soupsieve
systemd-python
tqdm
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
variety
wadllib
webencodings
xkit
youtube-dl
zipp